{% extends 'akuaa/base.html' %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'akuaa/styles.css' %}">
{% endblock %}
{% block content %}
<section class="title-bg">
    <div class="contact pt-5">
        <h4 class="page-title pt-4">About</h4>
    </div>
</section>
<section class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="d-none d-md-block" src="{% static 'akuaa/images/dj-bg.jpeg' %}" height="250px" width="100%" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2 style="font-family: 'Merriweather', serif;">About</h2>
                <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium cupiditate architecto velit
                    quasi ea doloribus. Totam, nobis blanditiis. Magnam dolor necessitatibus assumenda doloribus aliquid
                    laborum, quisquam vitae consequatur ut qui.</h4>
            </div>
        </div>
    </div>
</section>
<section class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2 style="font-family: 'Merriweather', serif;">Mission</h2>
                <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium cupiditate architecto velit
                    quasi ea doloribus. Totam, nobis blanditiis. Magnam dolor necessitatibus assumenda doloribus aliquid
                    laborum, quisquam vitae consequatur ut qui.</h4>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="d-none d-md-block" src="{% static 'akuaa/images/dj-bg.jpeg' %}" height="250px" width="100%" alt="">
            </div>
        </div>
    </div>
</section>
<section class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="d-none d-md-block" src="{% static 'akuaa/images/dj-bg.jpeg' %}" height="250px" width="100%" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2 style="font-family: 'Merriweather', serif;">Vision</h2>
                <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium cupiditate architecto velit
                    quasi ea doloribus. Totam, nobis blanditiis. Magnam dolor necessitatibus assumenda doloribus aliquid
                    laborum, quisquam vitae consequatur ut qui.</h4>
            </div>
        </div>
    </div>
</section>
<section class="pt-4">
    <div class="container">
        <div class="section-title">
            <h1 class="h1">Meet The Team</h1>
        </div>
        <div class="row team-row">
            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img class="team-image" src="{% static 'akuaa/images/dj-bg.jpeg' %}" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2 class="h2">Akuaa</h2>
                        <h3 class="h3">CEO & Founder</h3>
                        <p class="team-para">Some text goes here that describes about team members</p>
                        <h4 class="h4">abc@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-facebook-f"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img class="team-image" src="{% static 'akuaa/images/dj-bg.jpeg' %}" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2 class="h2">Mayra</h2>
                        <h3 class="h3">Art Director</h3>
                        <p>Some text goes here that describes about team members</p>
                        <h4 class="h4">abc@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-facebook-f"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img class="team-image" src="{% static 'akuaa/images/dj-bg.jpeg' %}" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2 class="h2">John</h2>
                        <h3 class="h3">Developer</h3>
                        <p>Some text goes here that describes about team members</p>
                        <h4 class="h4">abc@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-facebook-f"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img class="team-image" src="{% static 'akuaa/images/dj-bg.jpeg' %}" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2 class="h2">Newman</h2>
                        <h3 class="h3">Designer</h3>
                        <p>Some text goes here that describes about team members</p>
                        <h4 class="h4">abc@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-facebook-f"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}