{% extends 'akuaa/base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'akuaa/styles.css' %}">
{% endblock %}
{% block content %}
<section class="title-bg">
    <div class="contact pt-5">
        <h4 class="page-title pt-4">About</h4>
    </div>
</section>
<section class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="pb-4" src="{% static 'akuaa/images/about-img.jpg' %}" height="300px"
                    width="100%" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12" style="text-align: justify;">
                <h2 style="font-family: 'Merriweather', serif;" class="pb-4">About</h2>
                
                <h4 style="font-family: 'Merriweather', serif;">Welcome to DaSpinstress LLC!</h4>
                
                <p>At DaSpinstress LLC, we are passionate about the power of marketing to transform businesses and drive
                    success. With a
                    team of dedicated experts and a proven track record of delivering exceptional results, we are here
                    to be your trusted
                    partner on the path to achieving your marketing goals.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12" style="text-align: justify;">
                <h2 style="font-family: 'Merriweather', serif;">Mission</h2>
                <p>Our mission is to bridge the cultural and musical divide between African children and the rest of the
                    world. We aim to
                    provide an enriching and transformative experience for children in Ghana by offering them a one-week
                    music program in
                    America. Through this program, we seek to nurture their musical talent, foster cultural exchange,
                    and empower them to
                    become ambassadors of African music on a global stage.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img  src="{% static 'akuaa/images/mission-img.jpeg' %}" height="300px"
                    width="100%" alt="">
            </div>
        </div>
    </div>
</section>
<section class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="pb-4" src="{% static 'akuaa/images/vision-img.jpeg' %}" height="300px"
                    width="100%" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12" style="text-align: justify;">
                <h2 style="font-family: 'Merriweather', serif;">Vision</h2>
                <p>Our vision is a world where African children are given equal opportunities to explore and develop
                    their musical
                    abilities. We envision a future where our one-week music program becomes a gateway for young talents
                    in Ghana, enabling
                    them to connect with their peers from diverse backgrounds, exchange musical knowledge, and gain
                    exposure to
                    international music platforms. We aspire to create a lasting impact, instilling confidence, cultural
                    pride, and a
                    lifelong love for music in the hearts of these young individuals.</p>
            </div>
        </div>
    </div>
</section>
<section class="pt-5">
    <div class="container">
        <div>
            <h3 style="font-family: 'Merriweather', serif;" class="text-center text-muted">Other Things You Need <br> to
                Know About Us</h3>
        </div>
        <div class="pt-4" style="text-align: justify;">
            <h5>What Sets Us Apart</h5>
            <p>Our commitment to excellence and innovation sets us apart in the world of marketing. We believe that
                every business is
                unique, and we tailor our strategies to meet your specific needs and objectives. Whether you're a small
                startup looking
                to make a big splash or an established enterprise aiming to stay ahead of the competition, we have the
                expertise and
                creativity to make it happen.</p>
            <br>
            <h5>Our Approach</h5>
            <p>We approach marketing as both an art and a science. Our strategies are data-driven, ensuring that every
                campaign is
                backed by insightful analytics and research. But we also understand the importance of creativity in
                capturing the hearts
                and minds of your audience. This blend of data and creativity is what makes our marketing solutions
                truly effective.</p>
            <br>
            <h5>Our Promise</h5>
            <p>When you choose DaSpinstress LLC, you're choosing a partner dedicated to your success. We don't just work
                for you; we
                work with you, understanding your goals and vision to craft marketing solutions that exceed your
                expectations.
            </p>
            <br>
            <p>Join us on this exciting journey of transforming your business through strategic and creative marketing.
                Contact us
                today to get started, and let's bring your brand to new heights!</p>
        </div>
    </div>
</section>
<section class="pt-4">
    <div class="container">
        <div class="section-title">
            <h1 class="h1">Meet The Team</h1>
        </div>
        <div class="row team-row">
            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img class="team-image" src="{% static 'akuaa/images/dj-bg.jpeg' %}" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2 class="h2">Akuaa</h2>
                        <h3 class="h3">CEO & Founder</h3>
                        <p class="team-para">Some text goes here that describes about team members</p>
                        <h4 class="h4">abc@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-facebook-f"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img class="team-image" src="{% static 'akuaa/images/dj-bg.jpeg' %}" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2 class="h2">Mayra</h2>
                        <h3 class="h3">Art Director</h3>
                        <p>Some text goes here that describes about team members</p>
                        <h4 class="h4">abc@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-facebook-f"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img class="team-image" src="{% static 'akuaa/images/dj-bg.jpeg' %}" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2 class="h2">John</h2>
                        <h3 class="h3">Developer</h3>
                        <p>Some text goes here that describes about team members</p>
                        <h4 class="h4">abc@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-facebook-f"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img class="team-image" src="{% static 'akuaa/images/dj-bg.jpeg' %}" alt="Team Image">
                    </div>
                    <div class="team-content">
                        <h2 class="h2">Newman</h2>
                        <h3 class="h3">Designer</h3>
                        <p>Some text goes here that describes about team members</p>
                        <h4 class="h4">abc@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="#" class="social-tw"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-fb"> <i class="fa fa-facebook-f"></i></a>
                        <a href="#" class="social-li"> <i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-in"> <i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-yt"> <i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}