{% extends 'akuaa/base.html' %}
{% load static %}
{% block content %}
<section class="service-bg">
    <div class="contact pt-5">
        <h4 class="page-title pt-4">Services</h4>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 pb-3 d-flex justify-content-center">
                <div class="card">
                    <img src="{% static 'akuaa/images/splash.jpg' %}" height="200px" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Talent Management</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3 d-flex justify-content-center">
                <div class="card">
                    <img src="{% static 'akuaa/images/splash.jpg' %}" height="200px" alt="">
                    <div class="card-body">
                        <h3 class="card-title">PR & Media Services</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3 d-flex justify-content-center">
                <div class="card">
                    <img src="{% static 'akuaa/images/splash.jpg' %}" height="200px" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Event Management</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3 d-flex justify-content-center">
                <div class="card">
                    <img src="{% static 'akuaa/images/splash.jpg' %}" height="200px" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Digital Marketing Services</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore..</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3 d-flex justify-content-center">
                <div class="card">
                    <img src="{% static 'akuaa/images/splash.jpg' %}" height="200px" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Media Production</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3 d-flex justify-content-center">
                <div class="card">
                    <img src="{% static 'akuaa/images/splash.jpg' %}" height="200px" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Influencer Management</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}